@import "../../../styles/variables.scss";

.welcome_img {
    width: 100%;
    height: calc(100vh - 55px);
    background-image: url("../../../images/welcomepage.webp");
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.welcome_block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .welcome_title {
        color: $white;
        font-size: 48px;
        font-family: $title-font;
        font-weight: 700;
        text-align: center;
    }
}

.historybtn {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 992px) {
    .welcome_block {
        .welcome_title {
            font-size: 36px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .welcome_block {
        .welcome_title {
            font-size: 24px;
        }
    }
}