@import "grid.scss";
@import "variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: $white;
    &::-webkit-scrollbar {
        width: 10px;
        background-color: $white;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: $border-radius;
        background-color: $primary;
    }
    @media screen and (max-width: 990px) {
        &::-webkit-scrollbar {
            width: 0;
        }
    }
}

// .wrapper {
//     display: flex;
//     flex-direction: column;
//     height: 100%;
// }

// footer {
//     flex: 0 0 auto
// }

@media only screen and (prefers-color-scheme: dark) {
    body {
        background: $black;
        color: $white;
        &::-webkit-scrollbar {
            width: 10px;
            background-color: lighten($black, 15%);
        }
        &::-webkit-scrollbar-thumb {
            border-radius: $border-radius;
            background-color: $primary;
        }
        @media screen and (max-width: 990px) {
            &::-webkit-scrollbar {
                width: 0;
            }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
}

p, span {
    font-size: 16px;
    font-family: $font;
}

.h-100 {
   height: 100%!important; 
}

.w-100 {
    width: 100%!important;
}

.text-center {
    text-align: center;
}

.content {
    margin-top: calc(#{$margin}*4);
    min-height: calc(100vh - 55px);
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.d-flex {
    display: flex;
}

.my-5 {
    margin: calc(#{$margin} * 5) 0;
}
.my-4 {
    margin: calc(#{$margin} * 4) 0;
}
.my-3 {
    margin: calc(#{$margin} * 3) 0;
}
.my-2 {
    margin: calc(#{$margin} * 2) 0;
}
.my-1 {
    margin: calc(#{$margin} * 1) 0;
}

.mx-5 {
    margin: 0 calc(#{$margin} * 5);
}
.mx-4 {
    margin: 0 calc(#{$margin} * 4);
}
.mx-3 {
    margin: 0 calc(#{$margin} * 3);
}
.mx-2 {
    margin: 0 calc(#{$margin} * 2);
}
.mx-1 {
    margin: 0 calc(#{$margin} * 1);
}

*::selection {
    background-color: $primary;
    color: $white;
}