@import "grid.scss";
@import "variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: $white;
    &::-webkit-scrollbar {
        width: 10px;
        background-color: $white;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: $border-radius;
        background-color: $primary;
    }
    @media screen and (max-width: 990px) {
        &::-webkit-scrollbar {
            width: 0;
        }
    }
}

@media only screen and (prefers-color-scheme: dark) {
    body {
        background: $black;
        color: $white;
        &::-webkit-scrollbar {
            width: 10px;
            background-color: $black-light;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: $border-radius;
            background-color: $primary;
        }
        @media screen and (max-width: 990px) {
            &::-webkit-scrollbar {
                width: 0;
            }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
}

h1 {
    font-size: calc(#{$font-size} * 2);
}
h2 {
    font-size: calc(#{$font-size} * 1.5);
}
h3 {
    font-size: calc(#{$font-size} * 1);
}
h4 {
    font-size: calc(#{$font-size} * .8);
}
h5 {
    font-size: calc(#{$font-size} * .5);
}
h6 {
    font-size: calc(#{$font-size} * .3);
}

p, span {
    font-size: $font-size;
    font-family: $font;
}

@media only screen and (max-width: 768px) {
    $font-size: 14px;
    h1 {
        font-size: calc(#{$font-size} * 2);
    }
    h2 {
        font-size: calc(#{$font-size} * 1.5);
    }
    p, span {
        font-size: $font-size;
    }
}

a {
    text-decoration: none;
    color: $primary;
}

.h-100 {
   height: 100%!important; 
}
.h-auto {
    height: auto!important;
}
.w-100 {
    width: 100%!important;
}

.text-center {
    text-align: center;
}

.content {
    margin-top: calc(#{$margin}*4);
    min-height: calc(100vh - 55px);
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.d-flex {
    display: flex;
}

.my-5 {
    margin: calc(#{$margin} * 5) 0;
}
.my-4 {
    margin: calc(#{$margin} * 4) 0;
}
.my-3 {
    margin: calc(#{$margin} * 3) 0;
}
.my-2 {
    margin: calc(#{$margin} * 2) 0;
}
.my-1 {
    margin: calc(#{$margin} * 1) 0;
}

.mx-5 {
    margin: 0 calc(#{$margin} * 5);
}
.mx-4 {
    margin: 0 calc(#{$margin} * 4);
}
.mx-3 {
    margin: 0 calc(#{$margin} * 3);
}
.mx-2 {
    margin: 0 calc(#{$margin} * 2);
}
.mx-1 {
    margin: 0 calc(#{$margin} * 1);
}

*::selection {
    background-color: $primary;
    color: $white;
}