@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

$black: #121212;
$white: #f8f7fd;
// $primary: rgb(164, 33, 197);
$primary: #8453ff;
$margin: 8px;
$border-radius: 8px;

$title-font: "Montserrat", sans-serif;
$font: "Open Sans", sans-serif;

$transition: all .15s ease-in-out;
$translateY: -4px;