@import '../../../styles/variables.scss';

.card {
    width: 100%;
    background: #fff;
    height: 100%;
    border-radius: $border-radius;
    padding: 16px;
    // position: relative;
    border: $border;
    margin: $margin;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 16px!important;
    }
}

@media only screen and (prefers-color-scheme: dark) {
    .card {
        background: $black-light;
        border: $border-dark;
    }
}

@media only screen and (max-width: 768px) {

}