@import '../../../styles/variables.scss';

.card {
    max-width: 350px;
    background: #fff;
    height: auto;
    border-radius: $border-radius;
    padding: 16px;
    position: relative;
    border: $border;
    margin: $margin;
    p {
        font-size: 16px!important;
    }
}

@media only screen and (prefers-color-scheme: dark) {
    .card {
        background: $black-light;
        border: $border-dark;
    }
}